name: Deploy vue.js App

on:
  push:
    branches:
      - main  # Triggers the action on push to the main branch
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Build the Vue.js application
        run: npm run build

      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: production-artifacts
          path: dist

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: production-artifacts

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            # Stop the existing Docker container if it is running
            docker stop vue_app || true
            docker rm vue_app || true

            # Pull the latest Docker image
            docker pull prateekmudgal/vue_app:latest

            # Run the Docker container
            docker run -d --name vue_app -p 80:80 -v ~/vue_app/data:/usr/share/nginx/html prateekmudgal/vue_app:latest

            # Copy the build files to the server
            mkdir -p ~/vue_app/data
            cp -r dist/* ~/vue_app/data/

            # Restart Docker container
            docker restart vue_app
